.login_container {
    display: flex;
    justify-content: bottom;
    align-items: center;
    height: 95vh;
    width: auto;
    flex-direction: column;
}

.login_terrier {
    width: 20vw;
    max-width: 180px;
    height: 20vw;
    max-height: 180px;
    margin: 0;
    transform: rotate(-42deg);
    position: absolute;
    top: 7vh;
    z-index: 2;
}

.login_box {
    width: 80vw;
    max-width: 400px;
    height: 90vw;
    max-height: 450px;
    border: 1px solid #a49ca0;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 22vh;
    z-index: 1;
}

.login_h4iLogo {
    width: 150px;
    height: 150px;
    margin: 50px;
}

.login_googleLogo {
    width: 50px;

}

.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #0c0d0d;
    color: #e8edee;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}

.login_button:hover {
    background-color: #656f7b;
}